* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.subcontainer {
  display: flex;
  flex-direction: row;
  height: 85vh;
}

.top-space{
  margin-top: 70px;
}

.screen {
  margin-top: 70px;
  margin-left: 275px;
}

.ui.dimmer {
  background: rgba(0, 0, 0, 0.6) !important;
}